*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100vh;
    position: relative;
    background-color: tomato;
}

.navbar{
    background-color: red;
}
.foo{
    height: 5%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: red;
    font-size:18px;
    position: absolute;
    bottom: 0%;
    width: 100vw;
}
.links{
  color: yellow;
  text-decoration: none;
}
#navy{
    margin: 0;
    background-color: rgb(255, 38, 0);
    color: yellow;
}
#navbarDropdown{
    color: yellow;
}